<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}{% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>

    <header> {% if page %}
              <!-- page.slug: {{ page.slug }} -->
              <!-- page.save_as: {{ page.save_as }} -->
              {% endif %}
              {% if article %}
              <!-- article: {{ article.slug }} -->
              {% endif %}
         <nav class="navbar navbar-expand-lg navbar-custom">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
         <div class="container">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="#">Solar Panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Solar Kit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inverter</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#">Solar Instalation</a>
            </li>
          
             <li class="nav-item">
                <a class="nav-item nav-link{% if page and page.slug == 'home-page' %} active{% endif %}" href="/home-page/" title="home-page">home page</a>
            </li>
            {% for page in pages %}
              <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/{{ page.url }}">{{ page.title}}</a></li>
            {% endfor %}

          </ul>
         </div>
        </div>
      </nav>
    </header>

     
{% block content %}


{% endblock %}
    <footer>
     <div class="container">
       <div class="row">
          <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  {% block footer %}

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
     <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">About us</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">Terms Conditions</a>
              </li>
              <li>
                <a href="#!">Contact</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Site Map</a>
              </li>
              <li>
                <a href="#!">Portfolio</a>
              </li>
              <li>
                <a href="#!"></a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->


    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
{% endblock %}
  </footer>
  <!-- Footer -->
       </div>
     </div>
    </footer>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="{{ SITEURL }}/theme/js/jscript.js"></script>
    <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ SITEURL }}/theme/js/vendor/popper.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ SITEURL }}/theme/js/vendor/holder.min.js"></script>
  </body>
</html>
